export ADDR=":8080"
export DB_ADDR="postgres://admin:password@localhost/social?sslmode=disable"
export DB_MAX_OPEN_CONS=30
export DB_MAX_IDLE_CONS=30
export DB_MAX_IDLE_TIME="15m"
export ENV="development"